<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercLiebre | Home</title>
    <script src="https://kit.fontawesome.com/2f0ffaca8f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <header class="main__header">
      <div class="main__header__top__bar">
        <img src="/img/logo-mercado-liebre.svg" alt="Logo"  width="100px"/>
        <p>Lugar para poner la barra de búsqueda</p>
        <p class="frase_header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
      <nav class="main-header-bottom-bar">
        <ul class="izq_navbar">
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
          <li><a href="/vender">Vender</a></li>
          <li><a href="/ayuda"> Ayuda</a></li>
        </ul>
      </nav>    
        <nav class="main-header-bottom-bar">
          <ul class="der_navbar">
            <li><a href="/creacuenta">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
            <li><a href="/ingresa">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="/miscompras">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
          </ul>
        <div class="hamburguer__button"> 
          <i class="fas fa-bars"></i>
        </div>    
        </nav>  
        <div class="home__header__div__banner">
        <img src="/img/img-home-banner.jpg" alt="Home banner" class="home__banner">
        </div>
    </header>
    <main class="main__main">

        <section class="main__section__visita">
            <h3 class="main__titulares"><strong> Basado en tu última visita</strong></h3>
         
            <article>
              <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="300px">
              
              <div class="home__main-caja">
                <p class="home__main__camion"><i class="fa-solid fa-truck"></i></p>
              
                <p class="main__precio">$6.770</p>
                <p class="main__descuento">40% off</p>
                <p class="main__descrip"><strong>Cafetera Moulinex</strong></p>
              </div>
            </article>
          
            <article>
              <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="300px">
              
              <div class="home__main-caja">
                <p class="home__main__camion"><i class="fa-solid fa-truck"></i></p>
              
                <p class="main__precio">$230.000</p>
                <p class="main__descuento">20% off</p>
                <p class="main__descrip"><strong>MacBook Pro 2019</strong></p>
              </div>
            </article>
          
            <article>
              <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="300px">

              <div class="home__main-caja">
                <p class="home__main__camion"><i class="fa-solid fa-truck"></i></p>

                <p class="main__precio">$70.500</p>
                <p class="main__descuento">10% off</p>
                <p class="main__descrip"><strong>Samsung Galaxy S10</strong></p>
              </div>
            </article>
          
            <article>
              <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTV Samsung 43" width="300px">

              <div class="home__main-caja">
                <p class="home__main__camion"><i class="fa-solid fa-truck"></i></p>

                <p class="main__precio">$23.200</p>
                <p class="main__descuento">5% off</p>
                <p class="main__descrip"><strong>SmartTV Samsung 43"</strong></p>
              </div>
            </article>
          </section>
          
          <section class="main__section__ofertas">
            <h3 class="main__titulares"><strong>Ofertas</strong></h3>
          
            <article>
              <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="300px">

              <div class="home__main-caja">
                <p class="home__main__camion"><i class="fa-solid fa-truck"></i></p>

                <p class="main__precio">$6.770</p>
                <p class="main__descuento">40% off</p>
                <p class="main__descrip"><strong>Cafetera Moulinex</strong></p>
              </div>
            </article>
          
            <article>
              <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="300px">

              <div class="home__main-caja">
                <p class="home__main__camion"><i class="fa-solid fa-truck"></i></p>

                <p class="main__precio">$230.000</p>
                <p class="main__descuento">20% off</p>
                <p class="main__descrip"><strong>MacBook Pro 2019</strong></p>
              </div>
            </article>
          
            <article>
              <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="300px">

              <div class="home__main-caja">
                <p class="home__main__camion"><i class="fa-solid fa-truck"></i></p>

                <p class="main__precio">$70.500</p>
                <p class="main__descuento">10% off</p>
                <p class="main__descrip"><strong>Samsung Galaxy S10</strong></p>
              </div>
            </article>
          
            <article>
              <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTV Samsung 43" width="300px">

              <div class="home__main-caja">
                <p class="home__main__camion"><i class="fa-solid fa-truck"></i></p>

                <p class="main__precio">$23.200</p>
                <p class="main__descuento">5% off</p>
                <p class="main__descrip"><strong>SmartTV Samsung 43"</strong></p>
              </div>
            </article>
          </section>
    </main>
    <footer class="main__footer">
      <section class="section__footer">
        <div class="pagar__button"> 
          <i class="fa-solid fa-credit-card"></i>
        </div>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </section>
      <section class="section__footer">
        <div class="envio__button"> 
          <i class="fa-solid fa-gift"></i>
        </div>  
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      </section>
      <section class="section__footer">
        <div class="seguridad__button"> 
          <i class="fa-solid fa-user-shield"></i>
        </div>  
        <h4>Seguridad de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
      </section>
      <section class="section__footer__copyright">
        <p>Copyright 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
</body>

</html>